body{ 
  background-image: url("oh.jfif");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: top;
  background-size: 100%;
  height: 97vh;
  width: 97vw;
}
.container{
  height: 500px; width: 400px;
  background-color:  #ffccff;
  background-position: center;
  border-radius: 10px
}
#anakayam{
  height: 200px; width: 200px;
  margin-top: 50px;
}
p{
  font-size: 18px;
  font-weight: bold;
  font-family: Comic Sans MS;
}
input{
  height: 30px;width: 250px;
  text-align: center;
  padding-left: 5px;
  font-size: 14px;
  font-family: Comic Sans MS;
  border: 1px solid #e5e5e5;
  border-radius: 3%;
  box-shadow: 0px 2px 0px 0px #e5e5e5;
}
button{
  height: 38px; width: 140px;
  background-color: #87CEFA;
  border-radius: 12px;
  font-size: 15px;color: #222222;
  font-family: Comic Sans MS;
  margin-top: 30px;
  border: 1px solid #e4e4e4
}